@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: scroll;
  overflow-x: hidden;
}

body {
  font-family: "Andika", sans-serif;
  line-height: 1;
  font-weight: 600;
  color: #555;
  background-color: #fae5d3;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
