.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffffa9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-header h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
  font-size: 1.45rem;
}

.input-txt,
.section {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submit-btn {
  width: 100%;
  background-color: #ab6617;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #c88521;
  color: #333;
}
.type-options {
  color: #333;
  font-size: large;
}
