@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes blockAnimation {
  from {
    opacity: 0;
    transform: rotate(-360deg) scale(0.5);
  }
  to {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

.home-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  scrollbar-width: none;
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.home-container::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  animation: appear 1s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.one {
  background-color: rgb(36, 164, 138);
}

.two {
  background-color: rgb(211, 79, 79);
}

.three {
  background-color: rgb(67, 91, 175);
}

.four {
  background-color: rgb(191, 64, 191);
}

.block {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  animation: blockAnimation 1.5s ease-in-out;
}
